    <header>
        <nav class="header" id="header">
            <a href="./home.html"><img src="../../img/LogoMakr-8VCzkk.png" class="logo" alt="logo"></a>
            <ul>
                <li class="menu"><a href="/">Inicio</a></li>
                <li><a href="/datosPersonales/verMisDatos">Mi cuenta</a></li>
                <li class="menu"><a href="/pages/plantillas">Plantillas</a></li>
                <li class="menu"><a href="/pages/donaciones">Donaciones</a></li>
            </ul>
        </nav>
    </header>