    <header>
        <nav class="header" id="header">
            <a href="./home.html"><img src="../../img/LogoMakr-8VCzkk.png" class="logo" alt="logo"></a>
            <ul>
                <li class="menu"><a href="./home.html">Inicio</a></li>
                <li><a href="./pages/login.html">Ingresar</a></li>
                <li class="menu"><a href="./pages/plantillas.html">Plantillas</a></li>
                <li class="menu"><a href="./pages/donaciones.html">Donaciones</a></li>
            </ul>
        </nav>
    </header>