<link rel="stylesheet" href="../css/cronologico.css">
<main>
    <div class="container">

        <div class="izquierda">
            <img src="../img/perfiles/637fb1a9bb8f1dc74813238a.jpeg" class="perfilImg">
            <h3>Curriculum vitae</h3>
            <hr class="hrDatos">
            <h2>Datos personales</h2>
            <table>
                        <tr>
                            <th class="icon"><img src="../img/Iconos/person (1).svg"></th>
                            <th><p><p>*Nombre Apellido*</p></p></th>
                        </tr>
                    </table>
            <table>

            <table>
                        <tr>
                            <th class="icon"><img src="../img/Iconos/mail.svg"></th>
                            <th><p>*email</p></th>
                        </tr>
                    </table>

            <table>
                        <tr>
                            <th class="icon"><img src="../img/Iconos/tel.svg"></th>
                            <th><p>*Telefono*</p></th>
                        </tr>
                    </table>

            <table>
                        <tr>
                            <th class="icon"><img src="../img/Iconos/geo.svg"></th>
                            <th><p>*Calle altura, pais*</p></th>
                        </tr>
            </table>


            
            <hr class="hrIdiomas">
            <h2>IDIOMAS</h2>
            <ul>
                <li>
                    <table>
                        <tr>
                            <th><p>*Idioma*</p></th>
                            <th class="alineacionFin"><p>*Nivel*</p></th>
                        </tr>
                    </table>
                </li>
                <li>
                    <table>
                        <tr>
                            <th><p>*Idioma*</p></th>
                            <th class="alineacionFin"><p>*Nivel*</p></th>
                        </tr>
                    </table>
                </li>
                <li>
                    <table>
                        <tr>
                            <th><p>*Idioma*</p></th>
                            <th class="alineacionFin"><p>*Nivel*</p></th>
                        </tr>
                    </table>
                </li>
            </ul>

        </div>

        <div class="derecha"> 
            <h2 class="titulo">Perfíl</h2>
            <p class="pDescripcion">
                *Descripcion perfil*
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum autem velit pariatur? Velit dolor excepturi eveniet accusamus deleniti tenetur quisquam alias repudiandae. Laudantium eaque placeat dolorem dignissimos, quo voluptas!
            </p>
            
            <hr>
            

            <h2 class="margen">Experiencia</h2>
            <table>
                <tr>
                    <th class="formacionFecha"><p>**00/00/2000*</p></th>
                    <th  class="conPadding"><p>*Puesto*</p></th>
                </tr>
                <tr>
                    <th class="formacionFecha"><p></p></th>
                    <th  class="conPadding"><p>*Empresa*</p></th>
                </tr>
                <tr>
                    <th class="formacionFecha"><p></p></th>
                    <th  class="conPadding"><p>*Descricion tareas realizadas* Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis alias deleniti, ex dolorum quas veniam eveniet et delectus soluta similique facere ab, necessitatibus, id ullam quasi. Quaerat aliquam temporibus odio!</p></th>
                </tr>
            </table>

            <table>
                <tr>
                    <th class="formacionFecha"><p>**00/00/2000*</p></th>
                    <th  class="conPadding"><p>*Puesto*</p></th>
                </tr>
                <tr>
                    <th class="formacionFecha"><p></p></th>
                    <th  class="conPadding"><p>*Empresa*</p></th>
                </tr>
                <tr>
                    <th class="formacionFecha"><p></p></th>
                    <th  class="conPadding"><p>*Descricion tareas realizadas* Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis alias deleniti, ex dolorum quas veniam eveniet et delectus soluta similique facere ab, necessitatibus, id ullam quasi. Quaerat aliquam temporibus odio!</p></th>
                </tr>
            </table>

            <table>
                <tr>
                    <th class="formacionFecha"><p>**00/00/2000*</p></th>
                    <th  class="conPadding"><p>*Puesto*</p></th>
                </tr>
                <tr>
                    <th class="formacionFecha"><p></p></th>
                    <th  class="conPadding"><p>*Empresa*</p></th>
                </tr>
                <tr>
                    <th class="formacionFecha"><p></p></th>
                    <th  class="conPadding"><p>*Descricion tareas realizadas* Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis alias deleniti, ex dolorum quas veniam eveniet et delectus soluta similique facere ab, necessitatibus, id ullam quasi. Quaerat aliquam temporibus odio!</p></th>
                </tr>
            </table>

            <hr>
            <h2 class="margen">Formación</h2>

            <table>
                <tr>
                    <th class="formacionFecha"><p>*00/00/2000</p></th>
                    <th  class="conPadding"><p>*Carrera*</p></th>
                </tr>
                <tr>
                    <th class="formacionFecha"><p></p></th>
                    <th  class="conPadding"><p>*Universidad*</p></th>
                </tr>
            </table>

            <table>
                <tr>
                    <th class="formacionFecha"><p>*00/00/2000</p></th>
                    <th  class="conPadding"><p>*Carrera*</p></th>
                </tr>
                <tr>
                    <th class="formacionFecha"><p></p></th>
                    <th  class="conPadding"><p>*Universidad*</p></th>
                </tr>
            </table>

            <table>
                <tr>
                    <th class="formacionFecha"><p>*00/00/2000</p></th>
                    <th  class="conPadding"><p>*Carrera*</p></th>
                </tr>
                <tr>
                    <th class="formacionFecha"><p></p></th>
                    <th  class="conPadding"><p>*Universidad*</p></th>
                </tr>
            </table>

        </div>
    </div>
</main>



