<link rel="stylesheet" href="../css/moderno3.css">
<main>
    <div class="container">

        <div class="izquierda">
            <img src="../img/perfiles/637fb1a9bb8f1dc74813238a.jpeg">
            <hr>
            <h2>PERFÍL PROFESIONAL</h2>
            <p>
                *Descripcion perfil*
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum autem velit pariatur? Velit dolor excepturi eveniet accusamus deleniti tenetur quisquam alias repudiandae. Laudantium eaque placeat dolorem dignissimos, quo voluptas!
            </p>
            <hr>
            <h2>IDIOMAS</h2>
            <ul>
                <li>
                    <table>
                        <tr>
                            <th><p>*Idioma*</p></th>
                            <th class="alineacionFin"><p>*Nivel*</p></th>
                        </tr>
                    </table>
                </li>
                                <li>
                    <table>
                        <tr>
                            <th><p>*Idioma*</p></th>
                            <th class="alineacionFin"><p>*Nivel*</p></th>
                        </tr>
                    </table>
                </li>
                                <li>
                    <table>
                        <tr>
                            <th><p>*Idioma*</p></th>
                            <th class="alineacionFin"><p>*Nivel*</p></th>
                        </tr>
                    </table>
                </li>
            </ul>

        </div>

        <div class="derecha">
            <h1 class="titulo nombre">*Nombre</h1>
            <h1 class="titulo apellido">Apellido*</h1>

            <h3 class="tituloIzq">Tel: *Telefono*</h3>
            <h3 class="tituloIzq">*Email*</h3>
            <h3 class="tituloIzq">*Calle altura*</h3>
            <h3 class="tituloIzq">Dirección</h3>
            <hr>
            

            <h2 class="margen">EXPERIENCIA LABORAL</h2>
            <table>
                <tr>
                    <h3>*00/00/2000</h3>
                </tr>
                <tr>
                    <td><h3>*Empresa*</h3></td>
                </tr>
                <tr>
                    <th><h3 class="black">*Puesto*</h3></th>
                </tr>
                <tr>
                    <td><p>*Descricion tareas realizadas* Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis alias deleniti, ex dolorum quas veniam eveniet et delectus soluta similique facere ab, necessitatibus, id ullam quasi. Quaerat aliquam temporibus odio!</p></th>
                </tr>
            </table>

            <table>
                <tr>
                    <h3>*00/00/2000</h3>
                </tr>
                <tr>
                    <td><h3>*Empresa*</h3></td>
                </tr>
                <tr>
                    <th><h3 class="black">*Puesto*</h3></th>
                </tr>
                <tr>
                    <td><p>*Descricion tareas realizadas* Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis alias deleniti, ex dolorum quas veniam eveniet et delectus soluta similique facere ab, necessitatibus, id ullam quasi. Quaerat aliquam temporibus odio!</p></th>
                </tr>
            </table>

            <table>
                <tr>
                    <h3>*00/00/2000</h3>
                </tr>
                <tr>
                    <td><h3>*Empresa*</h3></td>
                </tr>
                <tr>
                    <th><h3 class="black">*Puesto*</h3></th>
                </tr>
                <tr>
                    <td><p>*Descricion tareas realizadas* Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis alias deleniti, ex dolorum quas veniam eveniet et delectus soluta similique facere ab, necessitatibus, id ullam quasi. Quaerat aliquam temporibus odio!</p></th>
                </tr>
            </table>

            <hr>
            <h2 class="margen">FORMACIÓN ACADÉMICA</h2>

            <table>
                <tr>
                    <h3>*00/00/2000</h3>
                </tr>
                <tr>
                    <td><h3>*Universidad*</h3></td>
                </tr>
                <tr>
                    <th><h3 class="black">*Carrera*</h3></th>
                </tr>
            </table>

            <table>
                <tr>
                    <h3>*00/00/2000</h3>
                </tr>
                <tr>
                    <td><h3>*Universidad*</h3></td>
                </tr>
                <tr>
                    <th><h3 class="black">*Carrera*</h3></th>
                </tr>
            </table>

            <table>
                <tr>
                    <h3>*00/00/2000</h3>
                </tr>
                <tr>
                    <td><h3>*Universidad*</h3></td>
                </tr>
                <tr>
                    <th><h3 class="black">*Carrera*</h3></th>
                </tr>
            </table>

        </div>
    </div>
</main>



