<link rel="stylesheet" href="../css/moderno2.css">
<main>
    <div class="container">
        <div class="izquierda">
            <img src="../img/perfiles/637fb1a9bb8f1dc74813238a.jpeg">
            <h2>CONTACTO</h2>
            <table>
                <tr>
                    <th><img src="../img/Iconos/geo.svg"></th>
                    <th><p>Calle altura, pais</p></th>
                </tr>
                <tr class="tableContacto">
                    <th><img src="../img/Iconos/tel.svg"></th>
                    <th><p>*telef
                </tr>
                <tr class="tableContacto">
                    <th><img src="../img/Iconos/mail.svg"></th>
                    <th><p>*email</p></th>
                </tr>
            </table>
            <hr>
            <h2>IDIOMAS</h2>
            <ul>
                <li>
                    <table>
                        <tr>
                            <th><p>*Idioma*:</p></th>
                            <th class="alineacionFin"><p>*Nivel*</p></th>
                        </tr>
                    </table>
                </li>
                                <li>
                    <table>
                        <tr class="tableContacto">
                            <th><p>*Idioma*:</p></th>
                            <th class="alineacionFin"><p>*Nivel*</p></th>
                        </tr>
                    </table>
                </li>
                <li>
                    <table>
                        <tr class="tableContacto">
                            <th><p>*Idioma*:</p></th>
                            <th class="alineacionFin"><p>*Nivel*</p></th>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>

        <div class="derecha">
            <h1>Nombre Apellido</h1>


            <div class="borde">
                            <table>
                <tr>
                    <th class="icon1"><img src="../img/Iconos/card-checklist.svg""></th>
                    <th><h2 class="margen">PERFÍL</h2></th>
                </tr>
            </table>
                <table>
                <tr>
                    <th><h3 class="black">*Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minus tempora itaque ullam nihil, animi dolores excepturi, ea molestias voluptatum ratione unde minima at expedita numquam atque dicta officia id?

                    </h3></th>
                </tr>

            </table>
            </div>




            <div class="borde">
                            <table>
                <tr>
                    <th  class="icon2"><img src="../img/Iconos/briefcase-fill.svg"></th>
                    <th><h2 class="margen">EXPERIENCIA LABORAL</h2></th>
                </tr>
            </table>
                <table>
                <tr>
                    <th><h3 class="black">*Puesto*</h3></th>
                </tr>
                <tr>
                    <td><h3>*Empresa* | *Fecha desde - hasta</h3></td>
                </tr>
                <tr class="tareas">
                    <ul>
                        <li>
                            <td><p>*Descricion tareas realizadas* Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis alias deleniti, ex dolorum quas veniam eveniet et delectus soluta similique facere ab, necessitatibus, id ullam quasi. Quaerat aliquam temporibus odio!</p></td>
                        </li>
                    </ul>
                </tr>
            </table>

            <table>
                <tr>
                    <th><h3 class="black">*Puesto*</h3></th>
                </tr>
                <tr>
                    <td><h3>*Empresa* | *Fecha desde - hasta</h3></td>
                </tr>
                <tr class="tareas">
                    <ul>
                        <li>
                            <td><p>*Descricion tareas realizadas* Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis alias deleniti, ex dolorum quas veniam eveniet et delectus soluta similique facere ab, necessitatibus, id ullam quasi. Quaerat aliquam temporibus odio!</p></td>
                        </li>
                    </ul>
                </tr>
            </table>

            <table>
                <tr>
                    <th><h3 class="black">*Puesto*</h3></th>
                </tr>
                <tr>
                    <td><h3>*Empresa* | *Fecha desde - hasta</h3></td>
                </tr>
                <tr class="tareas">
                    <ul>
                        <li>
                            <td><p>*Descricion tareas realizadas* Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis alias deleniti, ex dolorum quas veniam eveniet et delectus soluta similique facere ab, necessitatibus, id ullam quasi. Quaerat aliquam temporibus odio!</p></td>
                        </li>
                    </ul>
                </tr>
            </table>
            </div>
            




            <div class="borde">
                                        <table>
                <tr>
                    <th  class="icon3"><img src="../img/Iconos/mortarboard-fill.svg"></th>
                    <th><h2 class="margen">FORMACIÓN ACADÉMICA</h2></th>
                </tr>
            </table>
                <table>
                                    <tr>
                    <th><h3 class="black">*Carrera*</h3></th>
                </tr>
                <tr>
                    <td><h3>*Universidad* - *00/00/2000</h3></td>
                </tr>
            </table>

                <table>
                                    <tr>
                    <th><h3 class="black">*Carrera*</h3></th>
                </tr>
                <tr>
                    <td><h3>*Universidad* - *00/00/2000</h3></td>
                </tr>
            </table>>
                <table>
                                    <tr>
                    <th><h3 class="black">*Carrera*</h3></th>
                </tr>
                <tr>
                    <td><h3>*Universidad* - *00/00/2000</h3></td>
                </tr>
            </table>
            </div>
            
        </div>
    </div>
</main>



