*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(214, 208, 208);
    height: 2300px;
}

main{
    width: 70%;
    min-width: 1240px;
    max-width: 1240px;
    height: 1754px;
    min-height: 1754px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin-bottom: 10vh;
    height: 100%;
    background-color: white;
}


.izquierda{
    text-align: center;
    float: left;
    width: 35%;
    height: 100%;
    padding: 10vh;
    color: white;
    background-color:rgb(92, 88, 88);
}

.izquierda h2{
    font-weight: bolder;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-align: start;
}

.datos{
    font-weight: lighter;
}

img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 3vh;
    background-color: rgb(158, 153, 153);
}

.apellido{
    margin-bottom: 7vh;
}

.derecha{
    float: right;
    width: 65%;
    height: 100%;
    text-align: justify;
    padding-top: 2vh;
    padding-right: 10vh;
    padding-left: 6vh;
    color: black;
}

.derecha table{
    padding-bottom: 4vh;
}

.black{
    color: rgb(57, 55, 55);;
}

.titulo{
    text-align: start;
}

.derecha h2, h3{
    text-align: start;
}

hr{
    margin-top: 6vh;
    margin-bottom: 1vh;
}

li{
    list-style: none;
}

table{
    width: 100%;
    height: auto;
    margin-bottom: 3vh;
}

.alineacionFin{
    text-align: end;
    float: right;
}

.nombre{
    color: rgb(92, 88, 88);
}

p{
    text-align: start;
    font-size: 20px;
}

.margen{
    margin-bottom: 3vh;
}

